!!!
html(ng-app="spydrApp", lang="en")
    head
        meta(charset='utf8')
        base(href='/')
        title For My People
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Bohemian Club Developers")
        link(rel='stylesheet', href='css/lib/bootstrap.css')
        link(rel='stylesheet', href='css/lib/docs.css')
        link(rel='stylesheet', href='css/lib/angular-ui.css')
        link(rel='stylesheet', href='css/lib/font-awesome.css')
        link(rel='stylesheet', href='css/lib/font-awesome-ie7.css')
        link(rel='stylesheet', href='css/lib/ng-grid.css')
        link(rel='stylesheet', href='css/app.css')
    body
        block body